body {
    background-image: linear-gradient(to right, rgb(130, 96, 203), rgb(57, 4, 98));
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}



.calculator-body {
    align-self: center;
    background-color: gray;
    width: 50%;
    height: 90vh;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Layout For the Calculator Upper Body */

.upper-body {
    
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.display-input {
    border: 2px solid rgb(255, 255, 255);
    width: 95%;
    padding: 2.5%;
    height: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 20px;
}

.display-result {
    border: 2px solid rgb(255, 255, 255);
    width: 100%;
    height: 70%;
    font-size: 20px;
}

/* Layout For the Calculator Lower Body */

.lower-body {
    border: 2px solid rgb(255, 255, 255);
    width: 100%;
    height: 65%;
    display: flex;
    font-size: 20px;
}

.digits {
    width: 80%;
    height: auto;
    border: 2px solid rgb(190, 29, 29);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.digit-number {
    width: 20%;
    height: 10%;
    padding: 26px;
    text-align: center;
    color: white;
}

.zero-digit {
    align-self: center;
    width: 80%;
    
}

.actions {
    width: 20%;
    height: auto;
    border: 2px solid rgb(28, 161, 75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.action-calc {
    padding: 10px;
    text-align: center;
    width: 80%;
    flex-grow: 1;
    height: 10%;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}